@import 'tailwind-config/globals.css';

*{
  font-family : YuMincho, 'Yu Mincho', serif;
}

.firebase-emulator-warning {
  display: none;
}

@layer utilities {
  .custom-scroll-bar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scroll-bar::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
  }
}